body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

h2 {
    /*background-color: #007bff;*/
    color: black;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px; /* 限制容器最大宽度 */
    margin: 0 auto; /* 居中对齐容器 */
}

.player-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; /* 增加内边距 */
    width: 250px;  /* 调整卡片宽度 */
    text-align: center;
}

.player-card img {
    border-radius: 50%;
    width: 100px;   /* 调整头像大小 */
    height: 100px;
    margin-bottom: 15px;
}

.player-card h3 {
    margin: 0 0 10px;
    font-size: 18px;  /* 调整标题字体大小 */
}

.player-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px; /* 增加按钮大小 */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;  /* 调整按钮文字大小 */
}

.player-card button:hover {
    background-color: #0056b3;
}

.comparison-selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.comparison-selectors select, .comparison-selectors button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
}


.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 设置卡片之间的间距 */
    justify-content: center; /* 让卡片居中显示 */
}

.team-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 23%; /* 每行四个卡片，宽度设置为 23% 可以有一些间距 */
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-logo img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}


/* 定义team-info样式 */
.team-info {
    margin-left: 20px;
    text-align: center;
}

/* 定义team-details样式 */
.team-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-info h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

/* 定义team-links样式 */
.team-links {
    margin-top: 10px;
}

/* 定义team-links内a元素的样式 */
.team-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
