<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RCBA - 首页</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <style>
        .carousel {
            width: 65%; /* 调整轮播图宽度 */
            margin: 0 auto; /* 居中对齐 */
            position: relative; /* 使箭头定位有效 */
        }

        .slick-prev, .slick-next {
            font-size: 2rem;
            color: black; /* 可以根据需求更改颜色 */
            z-index: 1;
        }

        /* 调整箭头的位置，确保不会与图片重叠 */
        .slick-prev {
            left: -50px;
        }

        .slick-next {
            right: -50px;
        }

        /* 调整图片样式，防止图片与箭头重叠 */
        .carousel img {
            width: 100%; /* 确保图片自适应轮播图的宽度 */
            height: auto;
            display: block;
        }
    </style>
</head>
<body>

    <!-- 顶部导航栏 -->
    <div class="navbar">
        <div class="logo">
            <img src="../static/logo/logo.png" alt="RCBA Logo">
            <span>RCBA</span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('rcbaplayer.index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}" >首页</a></li>
            <li><a href="{{ url_for('rcbaplayer.team') }}" class="{% if request.endpoint == 'team' %}active{% endif %}" >球队</a></li>
            <li><a href="{{ url_for('rcbaplayer.player') }}" class="{% if request.endpoint == 'player' %}active{% endif %}">球员</a></li>
            <li><a href="#">数据</a>
                <!-- 下拉菜单 -->
                <div class="dropdown">
                    <a href="{{ url_for('rcbaplayer.add_data') }}">数据录入</a>
                    <a href="{{ url_for('rcbaplayer.data_history') }}">历年赛况</a>
                </div>
            </li>
            <li>
                <a href="#">赛程</a>
                <!-- 下拉菜单 -->
                <div class="dropdown">
                    <a href="{{ url_for('rcbaplayer.schedule', year=2024) }}">2024</a>
                    <a href="{{ url_for('rcbaplayer.schedule', year=2025) }}">2025</a>
                </div>
            </li>
        </ul>
        <div class="navbar-right">
            {% if session.get('username') %}
                <span> 用户: {{ session['username'] }}</span>
                <button onclick="location.href='{{ url_for('rcbaplayer.logout') }}'">退出</button>
            {% else %}
                <button onclick="location.href='{{ url_for('rcbaplayer.login') }}'">登录</button>
            {% endif %}
        </div>
    </div>

    <!-- 比赛宣传语 -->
    <div class="promo-banner">
        <h1 >金秋十月，群星荟萃，最美研发人冠军花落谁家？</h1>
    </div>

    <!-- 轮播图 -->
    <div class="carousel">
        <a href="{{ url_for('rcbaplayer.comp_team_detail', captain='庞义卓') }}"><img src="../static/carousel/img1.png" alt="庞义卓">
        <a href="{{ url_for('rcbaplayer.comp_team_detail', captain='冉孟鑫') }}"><img src="../static/carousel/img2.png" alt="冉孟鑫">
        <a href="{{ url_for('rcbaplayer.comp_team_detail', captain='申时行') }}"><img src="../static/carousel/img3.png" alt="申时行">
        <a href="{{ url_for('rcbaplayer.comp_team_detail', captain='赵康伉') }}"><img src="../static/carousel/img4.png" alt="赵康伉">
        <a href="{{ url_for('rcbaplayer.comp_team_detail', captain='王明斌') }}"><img src="../static/carousel/img5.png" alt="王明斌">
        <a href="{{ url_for('rcbaplayer.comp_team_detail', captain='隗功晖') }}"><img src="../static/carousel/img6.png" alt="隗功晖">
    </div>

    <!-- 引入必要的 JavaScript 库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                prevArrow: '<button type="button" class="slick-prev">&#8249;</button>',
                nextArrow: '<button type="button" class="slick-next">&#8250;</button>'
            });
        });
    </script>
</body>
</html>
