<body>
    <div class="navbar">
        <div class="logo">
            <img src="../static/logo/logo.png" alt="RCBA Logo">
            <span>RCBA</span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('rcbaplayer.index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}" >首页</a></li>
            <li><a href="{{ url_for('rcbaplayer.team') }}" class="{% if request.endpoint == 'team' %}active{% endif %}" >球队</a></li>
            <li><a href="{{ url_for('rcbaplayer.player') }}" class="{% if request.endpoint == 'player' %}active{% endif %}">球员</a></li>
            <li><a href="#">数据</a>
                <!-- 下拉菜单 -->
                <div class="dropdown">
                    <a href="{{ url_for('rcbaplayer.add_data') }}">数据录入</a>
                    <a href="{{ url_for('rcbaplayer.data_history') }}">历年赛况</a>
                    <a href="{{ '#' }}">联盟数据王</a>
                </div>
            </li>
            <li>
                <a href="#">赛程</a>
                <!-- 下拉菜单 -->
                <div class="dropdown">
                    <a href="{{ url_for('rcbaplayer.schedule', year=2024) }}">2024</a>
                    <a href="{{ url_for('rcbaplayer.schedule', year=2025) }}">2025</a>
                </div>
            </li>
        </ul>
    </div>
</body>